@{
    ViewBag.Title = "Sobre";    
}

<h2 class="text-center">Sistema de Controle Santa Rita Centro Médico.</h2>

<div class="container">
    <div class="jumbotron">
        <ul class="">
            <li>Cadastro de Pacientes</li>
            <li>Cadastro de Especialistas</li>
            <li>Agendamento de Consultas</li>
            <li>Agendamento de Procedimento</li>
        </ul>
    </div>
</div>
