@{
    ViewBag.Title = "Home Page";
}

<!-- First Row -->
<div class="jumbotron" style="background-color:black">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <img src="~/Content/Images/mainImage.png" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card border-primary rounded">
            <div class="card-body p-4">
                <a class="btn btn-light btn-success btn-block" href="/PacienteViewModel">
                    <span class="oi oi-people"></span>
                    Cadastrar Paciente
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-primary rounded">
            <div class="card-body p-4">
                <a class="btn btn-light btn-success btn-block" href="/ConsultaViewModel">
                    <span class="oi oi-calendar"></span>
                    Agendar Consulta
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-primary rounded">
            <div class="card-body p-4">
                <a class="btn btn-light btn-success btn-block" href="/IntervencaoViewModel">
                    <span class="oi oi-medical-cross"></span>
                    Agendar Procedimento
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Second Row -->
<div class="row">
    <div class="col-md-4">
        <div class="card border-primary rounded">
            <div class="card-body p-4">
                <a class="btn btn-light btn-success btn-block" href="/EspecialistaViewModel">
                    <span class="oi oi-people"></span>
                    Cadastrar Especialista
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-primary rounded">
            <div class="card-body p-4">
                <button class="btn btn-light btn-success btn-block">
                    <span class="oi oi-calendar"></span>
                   
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-primary rounded">
            <div class="card-body p-4">
                <button class="btn btn-light btn-success btn-block">
                    <span class="oi oi-medical-cross"></span>
                   
                </button>
            </div>
        </div>
    </div>
</div>